<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"/></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <script src="./static/json/result.json"></script>
    <link rel="stylesheet" type="text/css" href="./static/css/style.css">
    <script type="text/javascript">
      var app = angular.module('myApp', []);
      app.controller('resultController', function ($scope, $window){
        console.log("test", $window.result);
        for (gmv in $window.result){
          $window.result[gmv].Sum_of_GMV = parseInt($window.result[gmv].Sum_of_GMV)
        }

        $scope.results = $window.result;

        $scope.sortType = 'Sum_of_GMV';
        $scope.sortReverse = true;
        $scope.search_product_name = '';
      });



    </script>
</head>
<body>

  <div class="container">

  <div class="row" ng-controller='resultController'>
    <div class="alert alert-info">
      <p>Sort Type: {{ sortType }}</p>
      <p>Sort Reverse: {{ sortReverse }}</p>
      <p>Search Query: {{ product_name }}</p>
    </div>

    <h1>Ebay Merchandise Product Check</h1>
    <form method="post", enctype="multipart/form-data", action="/scrape">
      <p>
      <input type="file" name="upl" />
      </p>
      <p>
      <input type="submit" name="submit">
      </p>
    </form>
    <div class="button_request">
    <form method="get", action="/get_results">
      <button id="see_results" class="btn btn-info col-md-12">See Your Results</button>
    </form>

    <form method="get", action="/export">
      <button id="see_results" class="btn btn-warning col-md-12">Export your results to CSV</button>
    </form>

    <form class="search_bar">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-search"></i></div>

          <input type="text" class="form-control" placeholder="search product name" ng-model="product_name">

        </div>
      </div>
    </form>

    <table id="myTable" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>No.</th>
          <th>
            <a href="#" ng-click="sortType = ''">
              Product Name
          </a>
          </th>
          <th>
            <a href="#" ng-click="sortType = ''">
              Item ID
          </a>
          </th>
          <th>
            <a href="#" ng-click="sortType = ''">
              Ebay URL
          </a>
          </th>
          <th>
            <a href="#" ng-click="sortType = ''">
              Item Condition
            </a>
          </th>
          <th>
            <a href="#" ng-click="sortType = ''">
              Vertical
          </a>
          </th>
          <th>
            <a href="#" ng-click="sortType = ''">
              Seller Name
          </a>
          </th>
          <th>
            <a href="#" ng-click="sortType = ''">
              Account Manager
            </a>
          </th>
          <th>EBAY MSRP</th>
          <th>EBAY List Price</th>
          <th>% off</th>
          <th>
            <a href="#" ng-click="sortType = ''">
              Sum of GMV
            </a>
          </th>
          <th>CSV list price</th>
          <th>IMAGE</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="product in results | orderBy: '-Sum_of_GMV'">
          <td>{{$index}}</td>
          <td>{{product.ebay_product_name}}</td>
          <td>{{product.ebay_Item_ID}}</td>
          <td>{{product.ebay_url}}</td>
          <td>{{product.Item_Condition}}</td>
          <td>{{product.Vertical}}</td>
          <td>{{product.Seller_Name}}</td>
          <td>{{product.Account_Manager}}</td>
          <td>{{product.ebay_msrp}}</td>
          <td>{{product.ebay_list_price}}</td>
          <td>na</td>
          <td>{{product.Sum_of_GMV}}</td>
          <td>{{product.list_price | number:2}}</td>
          <td><img ng-src="{{product.galleryURL}}"></td>
          <!-- <td class="good" ng-if="product.check_product_name && product.check_list_price == 'pass'">GOOD</td> -->
        </tr>
      </tbody>
    </table>
  </div>
  </div>

</body>
</html>
