<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"/></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- bower progress bar -->
    <script src="./bower_components/ngprogress/build/ngprogress.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./bower_components/ngprogress/ngProgress.css">

    <script src="./static/json/result.json"></script>
    <link rel="stylesheet" type="text/css" href="./static/css/style.css">

    <script src="./static/js/app.js"></script>
    <script src="./static/js/resultController.js"></script>
</head>
<body>
<div class="container" ng-controller='resultController'>
  <div progressbar.color('green')></div>
  <h1>Tool to query Ebay products for detailed information.</h1>
  <p>(Parses data from Ebay API and item web page.)</p>


  <div class="row">
    <div class="col-md-5">
      <form class="option1">
        <p>Upload file</p>
        <!-- <label for="inputFile"></label> -->
        <input type="file" file-model="upload_info.myFile"></input>
        <button ng-disabled="upload_info.myFile === undefined" ng-click="uploadFile()">upload</button>
      </form>
      <p>Upload formated excel document. Please make sure titles in column headers have no space. Example: Sum_of_GMV.</p>
      <p>product_name,  Item_ID,   Item_Condition, ebay_status,  Vertical,  Seller_Name, Account_Manager, MSRP, ebay_msrp,  list_price, ebay_list_price, recal_perc_off, %_off, Sum_of_GMV,  Sum_of_Qty,  Sum_of_Views/SI, Sum_of_Seller_rating,  Sum_of_Buyer_Count,  Sum_of_Defect_Rate</p>
    </div>
    <div class="col-md-2 or">
      <h2>OR</h2>
    </div>


    <form class="search_bar col-md-5 option2">
      <div class="form-group">
        <p>Search History</p>
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-search"></i></div>
          <input type="text" class="form-control" placeholder="ex: ebay_file.xlsx" ng-model="search"></input>
        </div>
        <button type="submit" class="btn btn-default" ng-click="search_results(search)">Search file and see results</button>
      </div>
    </form>
  </div>
  <br>

  <div class="history">
    <p>Scan History:</p>
    <ul class="index" ng-repeat="idx in index">
      <li><a href="" ng-click="search_results(idx.file_name)">{{idx.file_name}}</a></li>
    </ul>
  </div>


  <!-- <div class="row">
    <div class="alert alert-info">
      <p>Sort Type: {{ sortType }}</p>
      <p>Sort Reverse: {{ sortReverse }}</p>
      <p>Search Query: {{ product_name }}</p>
    </div>
  </div> -->

    <div class="row button_request">
      <div class="col-md-12">
        <h3>Click "See Results" after file has been uploaded to begin scan.</h3>
      </div>
      <div class="col-md-6">
        <form>
          <button id="see_results" class="col-md-12" ng-click="get_results(filename)">See Results</button>
        </form>
      </div>
      <div class="col-md-6">
        <form>
          <button id="see_results" class="col-md-12" ng-click="export_results(filename)">Export Results</button>
          <p>File format: CSV</p>
        </form>
      </div>

      <form class="search_bar col-md-12">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>

            <input type="text" class="form-control" placeholder="search product name" ng-model="product_name">

          </div>
        </div>
      </form>
    </div>

    <table class="table table-bordered" style="background-color: whitesmoke">
      <thead>
        <tr>
          <th>Description</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Number of products scanned</td>
          <td>{{results.length}}</td>
        </tr>
        <tr>
          <td>Number of Active listings</td>
          <td>{{ebay_status_counter}}/{{results.length}}</td>
        </tr>
        <tr>
          <td>Number of products found with MSRP</td>
          <td>{{ebay_msrp_counter}}/{{results.length}}</td>
        </tr>
      </tbody>
    </table>

  <div class="row" style="align-left">
    <table id="myTable" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>No.</th>
          <th>
            <a href="#" ng-click="sortType = ''">
              Product Name
          </a>
          </th>
          <th>
            <a href="#" ng-click="sortType = ''">
              Item ID
          </a>
          </th>
          <th>
            <a href="#" ng-click="sortType = ''">
              Ebay URL
          </a>
          </th>
          <th>
            <a href="#" ng-click="sortType = ''">
              Item Condition
            </a>
          </th>
          <th>
            <a href="#" ng-click="sortType = ''">
              Vertical
          </a>
          </th>
          <th>
            <a href="#" ng-click="sortType = ''">
              Seller Name
          </a>
          </th>
          <th>
            <a href="#" ng-click="sortType = ''">
              Account Manager
            </a>
          </th>
          <th>EBAY MSRP</th>
          <th>EBAY List Price</th>
          <th>% off</th>
          <th>
            <a href="#" ng-click="sortType = ''">
              Sum of GMV
            </a>
          </th>
          <th>CSV list price</th>
          <th>IMAGE</th>
          <th>EBAY Status</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="product in results | orderBy: '-Sum_of_GMV'">
          <td>{{$index}}
          </td>
          <td>{{product.ebay_product_name}}</td>
          <td>{{product.ebay_Item_ID}}</td>
          <td>{{product.ebay_url}}</td>
          <td>{{product.Item_Condition}}</td>
          <td>{{product.Vertical}}</td>
          <td>{{product.Seller_Name}}</td>
          <td>{{product.Account_Manager}}</td>
          <td>{{product.ebay_msrp}}</td>
          <td>{{product.ebay_list_price}}</td>
          <td>na</td>
          <td>{{product.Sum_of_GMV}}</td>
          <td>{{product.list_price | number:2}}</td>
          <td><img ng-src="{{product.galleryURL}}"></td>
          <td>{{product.ebay_status}}</td>
          <!-- <td class="good" ng-if="product.check_product_name && product.check_list_price == 'pass'">GOOD</td> -->
        </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>
