<h1>Hello Ann :)</h1>
<button id="see_results" class="btn btn-info">See Your Results</button>
<p>The .table-bordered class adds borders to a table:</p>
<table id="myTable" class="table table-bordered">
  <thead>
    <tr>
      <th>Item_ID</th>
      <th>Product Name</th>
      <th>Check1</th>
      <th>List Price</th>
      <th>Check2</th>
      <th>Availability Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>John</td>
      <td>Doe</td>
      <td>john@example.com</td>
    </tr>
    <tr>
      <td>Mary</td>
      <td>Moe</td>
      <td>mary@example.com</td>
    </tr>
    <tr>
      <td>July</td>
      <td>Dooley</td>
      <td>july@example.com</td>
    </tr>
  </tbody>
</table>
