.option1 {
    padding-top: 10px;
    border: 1px solid;
    text-align: center;
    height: 150px;
}
.option1 input {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    padding-left: 20%;
}
.option2 {
    padding-top: 10px;
    border: 1px solid;
    height: 150px;
}

.or {
    text-align: center;
}

/*.search_bar {
  margin-top: 10px;
  margin-bottom: 10px;
}
*/
.button_request .btn{
  margin-bottom: 25px;
}


.percent {
    position: absolute;
    width: 300px;
    height: 14px;
    z-index: 1;
    text-align: center;
    font-size: 0.8em;
    color: white;
}
.progress-bar {
    width: 600px;
    height: 18px;
    border-radius: 10px;
    border: 1px solid #CCC;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#6666cc), to(#4b4b95));
    border-image: initial;
}
.uploaded {
    padding: 0;
    height: 14px;
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#66cc00), to(#4b9500));
    border-image: initial;
}

.container{
    margin-top:20px;
}
.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.image-preview-input input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}

th {
    font-size: 13px;
}
td {
    font-size: 11px;
}
